@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    padding: 20px 80px 26px 82px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer img {
    margin-left: 50px;
}

.button-1 {
    width: 100%;
    background-color: #419488;
    color: #FFFFFF;
    border-radius: 62px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.button-2 {
    width: 100%;
    background-color: #419488;
    color: #FFFFFF;
    border-radius: 62px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    cursor: pointer;
}

.container-paragrafo {
    color:#FFFFFF;
    margin-right: 250px;
}

.container-button {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

section h1 {
    color: #009688;
    font-size: 55px;
}

section p {
    margin-top: 40px;
    color: #000000;
}

.container-background-color {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E5E5E5;;
}

.container-background-color h3 {
    color: #FF4081;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.container-video-blog {
    background-color: #C4C4C4;
    Width: 450px;
    Height: 259px;
}

@media (min-width: 768px) and (max-width: 1000px) {

    header ul {
        font-size: 25px;
        padding-left: 80px;
    }
    
    section {
        display: block;
        position: relative;
        left: 70px;
    }

    section img {
        position: relative;
        left: 100px;
        top: 20px;
    }

    section p {
        font-size: 30px;
        text-align: left;
    }

    #container-info-blog {
        padding-top: 90px;
    }

    #container-background-color {
        display: block;
        margin: auto;
        width: 50%;
        padding: 10px;
        background-color: white;
    }

    .container-column {
        font-size: 25px;
    }

    .container-column p {
        padding-bottom: 50px;
    }

    .container-paragrafo {
        position: relative;
        left: 50px;
        font-size: 25px;
    }


    .container-button {
        position: relative;
        right: 100px;
      }
    
      .button1 {
        font-size: 20px;
    }
    
    .button-2 {
        font-size: 20px;
    }
}


@media (min-width: 360px) and (max-width: 540px) { 

    header {
        display: block;
    }

    header img {
        width: 250px;
        position: relative;
        right: 30px;
    }

    header ul {
        font-size: 20px;
        position: relative;
        right: 39px;
        top: 15px;
    }

    #container-img-blog{
        display: none;
    }

    #container-info-blog h1 {
        position: relative;
        left: 35px;
        top: 20px;
        font-size: 45px;
    }

    #container-info-blog p {
        font-size: 30px;
        padding: 30px;

        position: relative;
        bottom: 20px;
    }

    .container-background-color {
        background-color: #FFFFFF;
        display: block;
    }

    .container-column {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;

        position: relative;
        bottom: 170px;
    }

   .container-background-color h3 {
       font-size: 30px;
       padding-top: 15px;
   }

    .container-column p {
        padding-bottom: 50px;
        font-size: 25px;
    }

    .container-video-blog {
        width: 320px;
    }

    footer {
        display: block;
    }

    footer img {
        width: 250px;
    }

    .container-paragrafo {
        display: flex;
        position: relative;
        left: 80px;
        padding-top: 20px;
        font-size: 25px;
    }

    .container-paragrafo p {
        padding: 10px;
        position: relative;
        right: 30px;
    }

    .container-button {
        position: relative;
        left: 50px;
        padding-top: 30px;
    }

    .button-1, .button-2 {
        font-size: 20px;
    }
}
