@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    padding: 20px 80px 26px 82px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer img {
    margin-left: 50px;
}

.info-init {
    padding-right: 150px;
}

#button-banner {
    cursor: pointer;
}

.container-paragrafo {
    color:#FFFFFF;
    margin-right: 250px;
}

.container-button {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.button-1 {
    width: 100%;
    background-color: #419488;
    color: #FFFFFF;
    border-radius: 62px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.button-2 {
    width: 100%;
    background-color: #419488;
    color: #FFFFFF;
    border-radius: 62px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    cursor: pointer;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}

section div h1 {
    font-size: 60px;
    display: left;
    color: #FF4081;
    line-height: 65px
}

section div p {
    font-size: 27px;
    padding-bottom: 20px;
}

section div button {
    width: 100%;
    background-color: #FFFFFF;
    color: #FF4081;
    border-radius: 62px;
    border-color: #FF4081;
    border-style: solid;
    padding: 5px;
    width: 40%;
    font-size: 15px;
}

.coluna-info {
    text-align: center;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 55px;
}

.titulo {
    color: #FF4081;
    padding-bottom: 8px;
}

.paragrafo{
    color: #000000;
    padding-bottom: 10px
}

.button {
    width: 100%;
    background-color: #FF4081;
    color: #FFFFFF;
    border-radius: 62px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

.container-sobrenos {
    margin-left: 150px;
}

.container-sobrenos h1 {
    margin-left: 40px;
    font-size: 37px;
    color: #009688;
    padding-top: 50px;
}

.pai-paragrafo {
    margin-left: 20px;
    margin-top: 13px;
}

.pai-sobrenos {
    display: flex;
}

.filho-sobrenos {
    display: flex;
    padding: 40px;
}

.container-conteudo1{
    display: flex;
    text-align: left;
}

.video-container {
    position: relative;
    width: 350px;
    height: 193px;
    left: 5px;
    background-color: #C4C4C4;
}

.maisconteudo-container {
    padding: 100px;
}

.maisconteudo-container h1 {
    padding-left: 5px;
    color: #009688;
    padding-bottom: 50px;
}

.conteudo1-filho h3 {
    color: #009688;
    padding-top: 10px;
}


.maisconteudo-container button {
    font-size: 15px;
    position: relative;
    left: 150px;
    top: 50px;

    width: 100%;
    background-color: #FFFFFF;
    color: #FF4081;
    border-radius: 62px;
    border-color: #FF4081;;
    border-style: solid;
    padding: 10px;
    width: 20%;
    margin-left: 300px;
    cursor: pointer;
}

.nombre-edad {
    padding-top: 5px;
}

.info-init p {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1000px) {

    header ul {
        font-size: 25px;
        padding-left: 80px;
    }

    section img {
        width: 50%;
    }

    .info-init h1 {
        font-size: 50px;
    } 

    .info-init button {
        width: 100%;
        font-size: 25px;
    }

    .coluna-info {
        display: block;
    }

    .coluna-info img {
        width: 400px;
    }

    .filho1-container, .filho2-container {
        padding-bottom: 100px;
        font-size: 30px;
    }

    .button {
        font-size: 30px;
        margin-top: 20px;
    }

    .titulo {
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .paragrafo {
        font-size: 30px;
    }
   
    .pai-sobrenos {
        display: block;
        font-size: 22px;
        position: relative;
        right: 120px;
    }

    .container-conteudo1 {
        display: block;
        text-align: center;
        font-size: 30px;
        
    }

    .conteudo1-filho h3 {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .conteudo1-filho p {
        padding-bottom: 50px;
    }

    .video-container {
       position: relative;
       left: 120px;
    }

    .container-button {
        width: 80%;
        position: relative;
        right: 30px;
    }

    .button-1, .button-2 {
        position: relative;
        right: 70px;
    }

    .button1 {
        font-size: 20px;
    }

    .button-2 {
        font-size: 20px;
    }

    .container-paragrafo {
        position: relative;
        left: 50px;
        font-size: 25px;
    }

    .maisconteudo-container h1 {
        text-align: center;
    }

    .maisconteudo-container button {
        position: relative;
        left: -60px;
        font-size: 22px;
    }
}

@media (min-width: 360px) and (max-width: 540px) {

    header {
        display: block;
    }

    header img {
        width: 250px;
        position: relative;
        right: 30px;
    }

    header ul {
        font-size: 20px;
        position: relative;
        right: 25px;
        top: 15px;
    }

    section img {
        display: none;
    }

    .info-init img {
        display: none;
    }

    .info-init {
        text-align: center;
        position: relative;
        left: 68px;
    }

    #button-banner {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .coluna-info {
        display: block;
    }

    .filho1-container, .filho2-container {
        padding-bottom: 50px;
    }

    .titulo {
        font-size: 30px;
        padding-top: 15px;
    }

    .paragrafo {
        font-size: 20px;
    }

    .button {
        font-size: 16px;
    }

    .pai-sobrenos {
        display: block;
    }

    .filho-sobrenos img {
        width: 200px;
        height: 100px;
    }

    .filho-sobrenos {
        position: relative;
        right: 150px;
    }

    .filho-sobrenos p {
        font-size: 20px;
    }

    .container-sobrenos h1 {
        font-size: 29px;
        position: relative;
        right: 80px;
    }

    .maisconteudo-container h1 {
        font-size: 29px;
    }

    .container-conteudo1 {
        display: block;
    }

    .container-conteudo1 h3 {
        padding-top: 20px;
    }

    .container-conteudo1 p {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .video-container {
        width: 190px;
        position: relative;
    }

    .maisconteudo-container button {
        position: relative;
        left: -300px;
        font-size: 20px;
        width: 90%;
    }

    footer {
        display: block;
    }

    footer img {
        width: 250px;
        position: relative;
        right: 10px;
    }

    .container-paragrafo {
        display: flex;
        position: relative;
        left: 80px;
        padding-top: 20px;
        font-size: 25px;
    }

    .container-paragrafo p {
        padding: 10px;
        position: relative;
        right: 30px;
    }

    .container-button {
        position: relative;
        left: 50px;
        padding-top: 50px;
    }

    .button-1, .button-2 {
        font-size: 20px;
    }

}

