@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    padding: 20px 80px 26px 82px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer img {
    margin-left: 50px;
}

.button-1 {
    width: 100%;
    background-color: #419488;
    color: #FFFFFF;
    border-radius: 62px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.button-2 {
    width: 100%;
    background-color: #419488;
    color: #FFFFFF;
    border-radius: 62px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 5px;
    cursor: pointer;
}

.container-paragrafo {
    color:#FFFFFF;
    margin-right: 250px;
}

.container-button {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.container-principal h1 {
    color: #FF4081;
    padding-bottom: 20px;
}

.video-container {
        position: relative;
        width: 319px;
        height: 193px;
        left: 30px;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-bottom: 50px;
    position: relative;
    right: 70px;
}

article h1 {
    color: #FF4081;
}

.container-video-info {
    margin-left: 50px;
    margin-right: 50px;
}

.container-video-info h1 {
    padding-bottom: 15px;
    position: relative;
    bottom: 8px;
}

.container-video-info p {
    position: relative;
    bottom: 5px;
}

.container-around {
    display: flex;
    box-shadow: 0px 3px 0px #C4C4C4;
}

.container-background {
    background-color: #F6F6F6;
}

@media (min-width: 768px) and (max-width: 1000px) {
    
    header ul {
        font-size: 25px;
        padding-left: 80px;
    }
    
    article {
        position: relative;
        right: 100px;
    }
    
    .container-principal {
        display: block;
        position: relative;
        left: 50px;
    }

    .container-principal h1 {
        font-size: 50px;
        padding-top: 50px;
    }

    .container-principal p {
        font-size: 30px;
        padding-bottom: 70px;
        padding-right: 50px;
    }

    .container-principal img {
        width: 80%;
    }

    .container-around {
        display: block;
    }

    .video-container iframe {
        width: 150%;
        position: relative;
        right: 25px;
        height: 300px;
    }

    .container-video-info {
        font-size: 30px;
        position: relative;
        right: 50px;
        padding-top: 150px;
        padding-bottom: 150px;

    }

    .container-paragrafo {
        position: relative;
        left: 50px;
        font-size: 25px;
    }

    .container-button {
        position: relative;
        right: 100px;
      }
    
      .button1 {
        font-size: 20px;
    }
    
    .button-2 {
        font-size: 20px;
    }
}

@media (min-width: 360px) and (max-width: 540px) {

    header {
        display: block;
    }

    header img {
        width: 250px;
        position: relative;
        right: 25px;
    }

    header ul {
        font-size: 20px;
        position: relative;
        right: 25px;
        top: 15px;
    }

    .container-principal img {
        display: none;
    }

    .container-principal h1 {
        text-align: center;
        padding-top: 20px;
    }

    .container-principal p {
       padding: 15px;
       line-height: 20px;
    }

    iframe {
        position: relative;
        right: 20px;
    }

   .container-around {
       display: block;
       position: relative;
       right: 40px;
       font-size: 20px;
   }

   .container-video-info {
     position: relative;
     left: 30px;
     padding-bottom: 50px;
   }
    
    footer {
        display: block;
    }

    footer img {
        width: 250px;
        position: relative;
        right: 10px;
    }

    .container-paragrafo {
        display: flex;
        position: relative;
        left: 80px;
        padding-top: 20px;
        font-size: 25px;
    }

    .container-paragrafo p {
        padding: 10px;
        position: relative;
        right: 30px;
    }

    .container-button {
        position: relative;
        left: 50px;
        padding-top: 50px;
    }

    .button-1, .button-2 {
        font-size: 20px;
    }
}